//@import './_main';

$theme-color: #ff9800;

* {
  box-sizing: border-box;
}

body {
  background: #e1e1e1;
  color: #4a4a4a;
  font-family: -apple-system, 'Hiragino Kaku Gothic ProN', '游ゴシック', meiryo, sans-serif;
  font-weight: 500;
}

button,
.button {
  position: relative;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:active {
    top: 1px;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.button {
  display: inline-block;
  height: 40px;
  border: 0;
  border-radius: 20px;
  padding: 0 20px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  transition: all ease-in-out .15s;

  &.is-primary {
    background: $theme-color;
    color: #fff;
  }

  &.is-full {
    display: block;
    width: 100%;
  }

  &[disabled] {
    background: #ccc;
    color: #fff;
  }
}

.global-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 64px;
  height: 100vh;

  background: $theme-color;
  color: #fff;

  .global-nav-bland {
    display: block;
    width: 64px;
    height: 64px;
    padding: 5px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &:hover {
      img {
        opacity: .8;
      }
    }
  }

  .global-nav-menu,
  .global-nav-actions {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      width: 64px;
      height: 64px;
      font-size: 24px;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 8px;
        color: #fff;
        text-decoration: none;

        &:hover {
          background: rgba(255, 255, 255, .2);
        }

        .fa {
          display: block;
          position: relative;
        }

        .fa-search {
          top: -3px;
        }
      }
    }
  }

  .global-nav-menu {
    flex: 1;
    border-top: 1px solid rgba(255, 255, 255, .2);
  }

  .global-nav-actions {
    &__user-icon {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

.main {
  padding-left: 64px;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.page-article {
  padding: 40px 0;
}

.article {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  padding: 15px;

  &-header {
    position: relative;
    border-bottom: 2px solid $theme-color;
    margin: 0 0 30px;

    &__title {
      color: #4a4a4a;
      font-size: 26px;
      font-weight: bold;
      margin: 0 0 15px;
    }

    &__tags {
      margin: 15px 0;
    }

    &__fav {
      position: absolute;
      bottom: -20px;
      right: 20px;
    }
  }

  &-date-ribbon {
    position: relative;
    left: -25px;
    top: -10px;
    width: 110px;
    height: 24px;
    background: $theme-color;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -5px 0 0 -10px;
    padding: 0;
    list-style: none;
  }

  &-tag-item {
    display: block;
    width: auto;
    min-width: 80px;
    height: 30px;
    margin: 5px 0 0 10px;
    padding: 3px;
    line-height: 24px;
    border-radius: 15px;
    background: #eee;
    text-align: center;

    a {
      display: flex;
      color: #4a4a4a;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__content {
      display: block;
      flex: 1;
      font-size: 14px;
      padding: 0 10px;
    }

    &__count {
      display: block;
      width: auto;
      min-width: 24px;
      height: 24px;
      border-radius: 12px;
      font-size: 12px;
      background: #fff;
      text-align: center;
    }
  }

  &-tag-empty {
    color: #999;
    font-size: 14px;
  }

  &-fav-button {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 0;
    border-radius: 50%;
    background: #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16);

    .fa-star {
      color: #ccc;
      font-size: 20px;
    }
  }

  &-body {
    img {
      max-width: 100%;
    }
  }
}


.sidebar {
  -webkit-font-smoothing: antialiased;

  &-author {
    display: flex;

    &__avatar {
      display: block;
      width: 64px;
      height: 64px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;
    }

    &__name {
      color: #4a4a4a;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__status {
      color: #999;
      font-size: 12px;
      margin: 5px 0;
    }
  }

  &-scores {
    margin: 10px 0;
    font-size: 20px;
    line-height: 2;

    &:before,
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 0;

      border-top: 1px solid #ccc;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    dt {
      float: left;
      width: 100px;
    }

    dd {
      margin-left: 100px;
      text-align: right;
    }
  }

  &-index {
    line-height: 1.6;

    ul {
      padding: 0;
      list-style: none;

      ul {
        padding-left: 15px;
      }
    }

    a {
      color: #4a4a4a;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.comments {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  margin-top: 20px;
  padding: 15px;

  &__title {
    margin: 0 0 15px;
    padding: 0 0 5px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.7;
    border-bottom: 1px solid $theme-color;
  }
}

.comment-form {

  &__avatar {
    float: left;
    width: 40px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  &__main {
    position: relative;
    background: #eee;
    border-radius: 3px;
    margin-left: 48px;
    padding: 5px;

    &:before {
      display: block;
      border: 8px solid transparent;
      border-right-color: #eee;
      content: '';
      position: absolute;
      left: -16px;
      top: 10px;
    }
  }

  &__tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 90px;
      height: 30px;
      border-radius: 5px 5px 0 0;
      margin-right: 5px;
      line-height: 30px;

      a {
        display: block;
        color: #4a4a4a;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
      }

      &.is-active {
        background: #fff;
      }
    }
  }

  &__text,
  &__preview {
    width: 100%;
    min-height: 145px;
    background: #fff;
    border-radius: 0 5px 5px 5px;
    font-size: 14px;
    padding: 10px;
  }

  &__text {
    position: relative;
    padding-bottom: 25px;

    textarea {
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 120px;
      border: 0;
      background: transparent;
      line-height: 1.3;

      &:focus {
        outline: 0;
      }
    }

    &__counter {
      position: absolute;
      bottom: 5px;
      left: 5px;
      width: 100%;
      font-size: 12px;
      color: #999;

      &.is-danger {
        color: #f33;
      }
    }
  }

  &__actions {
    margin: 5px 0 0 48px;

    &__counter {
      color: #999;
      font-size: 20px;
      line-height: 48px;
      padding: 0 5px;

      &.is-danger {
        color: #f00;
      }
    }
  }
}

.markdown {
  font-size: 16px;
  line-height: 1.8;
  word-wrap: break-word;

  & > {
    p, hr, ul, ol, dl, blockquote, pre, address, fieldset, figure, table {
      margin-top: 0;
      margin-bottom: 1.8em;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;

    a .fa-link {
      display: none;
      position: absolute;
      left: -1.1em;
      padding-right: 0.4em;
      line-height: inherit;
    }

    &:hover {
      a .fa-link {
        display: block;
      }
    }
  }

  h1, h2, h3 {
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      margin-top: 4px;
      background: rgba(0, 0, 0, .2);
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{28 - ($i - 1) * 2}px;
    }
  }

  h6 {
    color: #999;
  }

  p {
    text-align: justify;
    text-justify: inter-ideograph;
    word-break: break-all;
    code.highlighter-rouge {
      white-space: pre-wrap;
    }
  }

  table {
    thead {
      tr {
        background: #fff;
      }
    }
    tr {
      background: #eee;
      &:nth-child(2n) {
        background: #fff;
      }
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
    }
  }

  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  ul, ol {
    ul li {
      list-style-type: circle;
    }
    ol li {
      list-style-type: lower-roman;
    }
    ul, ol, {
      ul li {
        list-style-type: square;
      }
      ol li {
        list-style-type: lower-alpha;
      }
    }
  }
  li.task-list-item {
    list-style: none;

    .task-list-item-checkbox {
      margin-left: -20px;
      margin-right: 8px;
    }
  }

  em {
    color: #444;
    font-style: italic;
    font-weight: normal;
    border-bottom: 1px dotted #999;
    padding: 0 .25em;
  }

  strong {
    color: #444;
    font-style: normal;
    font-weight: bold;
  }

  blockquote {
    color: #888;
    em {
      color: #888;
    }
    strong {
      color: #888;
    }
  }

  .footnotes {
    font-size: 14px;

    p {
      margin: 0;
    }
  }

  .MathJax {
    &:focus {
      outline: 0;
    }
  }

  .code-frame {
    .MathJax {
      display: block;
      text-align: center;
      margin: 1em auto;
    }
  }
}